<form name="edudetails">
<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
     Degree 
    </div>
    <select name="degree" required ng-model="eduDetails.degree">
      <option selected>BE</option>
      <option >MBA</option>
      <option>MS</option>
    </select>
  </label>
<div ng-messages="edudetails.degree.$error"  ng-show="edudetails.degree.$error  " style="color:red" role="alert">
    <div ng-message="required"> * You did not enter a field</div>
  </div>
</div>
 <button class="button button-calm button-full" ui-sref-active="active"  ng-click="formSubmit()">
  submit
</button> 
<button class="button button-calm button-full" ui-sref-active="active" ui-sref="form.personal" ng-click="formSubmit()">
  back
</button>
</form> 